* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.p-absolute {
    position: absolute !important;
}

.p-relative {
    position: relative !important;
}

.row {
    flex-direction: row;
}

.columns {
    flex-direction: column;

    ::-webkit-scrollbar {
        width: 0;
    }
}

.main-theme {
    background-image: linear-gradient(45deg, #fd267a, #ff7854);
}

.center {
    justify-content: center !important;
    align-items: center !important;
}

.center-vertical {
    align-items: center !important;
}

.circle {
    border-radius: 50% !important;
}

.border-shadow {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 2px gray;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}
