@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
$Pushter: 'Pushster', cursive;

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Pushster&display=swap');
$BonaNova: 'Bona Nova', serif;

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Pushster&display=swap');
$BonaNova-bold: 'Bona Nova', serif;